*
!public/
!.gitignore
!base_documents/
!base_documents/*
!base_documents/*/*
!docs/
!docs/.gitkeep
!public/docs/
!public/docs/.gitkeep
!public/excel/
!public/excel/.gitkeep
!public/zip/
!public/zip/.gitkeep